* {
    box-sizing: border-box;
}
img {
    width: 75px;
}

body {
  margin: 0;
  padding: 0;
 font-family: 'Lato', sans-serif;
  background-color: #f1f1f1;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

header {
    background-image: url(/img/leaf.jpg);
    background-size: cover;
    padding: 150px;
    color: white;
}

header button {
    margin: 4px;
}

.panel {
    margin-top: 30px;
    margin-bottom: 30px;
}


.checkbox {
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 45px;
}