* {
    box-sizing: border-box;
}
img {
    width: 75px;
}

body {
  margin: 0;
  padding: 0;
 font-family: 'Lato', sans-serif;
 /*background: linear-gradient(rgba(33, 107, 43, 0.6), rgba(234, 242, 236, 0.6)), url(/img/leaf.jpg);*/
  background-color: #f1f1f1;
  letter-spacing: 1.1px;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav a {
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

header {
    background: linear-gradient(rgba(33, 107, 43, 0.6), rgba(33, 107, 43, 0.6)), url(/img/leaf.jpg);
    background-size: cover;
    padding: 80px;
    color: white;
}

/*.title {
    font-size: 70px;
    font-weight: 700;
}*/

header button {
    margin: 4px;
    background-color: none;
}
.btn-transparent {
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 1px solid #f2f2f2;
}

    .btn-transparent:hover {
        color: white;
        background-color: rgba(255,255,255,0.2);
    }


.panel {
    padding: 30px;
    border-radius: 20px;
}


.checkbox {
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 45px;
}

.about-section {
    letter-spacing: 1.1px;
}

footer {
    padding: 60px;
}